@import url('./views/cart/cart.css');

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
    border-bottom: 2px solid #cecece;
    padding: 10px;
}

a {
    text-decoration: none;
}

.is-active {
    color: rgb(4, 116, 19);
    font-weight: bold;
}

.inactive {
    color: #cecece;
}

.card-payment-items {
    background-color: #E5E5E5;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.card-payment{
    display: flex; 
    justify-content: space-between;
    padding: 15px;
}

.btn-next {
    padding: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
    border: 5px solid purple;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h2 {
    padding: 15px;
    margin: 25px 0;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-data {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.informations-name-number {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.informations {
    border: 1px solid #c2bbbb;
    border-radius: 5px;
}

.informations-cart{
    border: 1px solid #c2bbbb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.disabled {
    opacity: 0.5;
}

.has-error {
    border: 1px solid red
}

#msg-error{
    color: red;
}

.hide-error {
    display: none;
}