* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
    border-bottom: 2px solid #cecece;
    padding: 10px;
}

