* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(113, 175, 229);
    font-size: x-large;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    padding: 15px;
}

.old-price, .price {
    display: flex;
    flex-direction: column;
}

.old-price {
    text-decoration: line-through;
}
